@page "/EditTextbook/{textbookId:int}/EditUnit"
@page "/EditTextbook/{textbookId:int}/EditUnit/{unitId:int}"
@inherits EditTextbookUnitBase

<MudText Typo="Typo.h4">Edit Textbook Unit</MudText>


<div class="my-4">
    <ParseContentComponent Unit="Unit"></ParseContentComponent>

</div>

<div class="my-4">
    <GptSettingsComponent Settings="Unit"></GptSettingsComponent>
</div>

<div class="mt-4">
    @if (UnitId.HasValue)
    {
        <MudButton OnClick="SaveQuizLab" Variant="Variant.Filled" Color="Color.Default">Save and go to Quiz Lab</MudButton>
    }
    <MudButton OnClick="Save" Variant="Variant.Filled" Color="Color.Primary">Save</MudButton>
    <MudButton OnClick="Back" Variant="Variant.Filled" Color="Color.Error">Back</MudButton>
    @if (UnitId.HasValue)
    {
        <MudButton OnClick="Delete" Variant="Variant.Filled" Color="Color.Error">Delete</MudButton>
    }
</div>