@page "/EditTextbook/{textbookId:int}/EditUnit"
@page "/EditTextbook/{textbookId:int}/EditUnit/{unitId:int}"
@inherits EditTextbookUnitBase

<MudText Typo="Typo.h4">Edit Textbook Unit</MudText>
@if (UnitId.HasValue)
{
    <MudButton Href="@($"/EditTextbook/{Textbook.Id}/EditUnit/{UnitId}/QuizLab")" Variant="Variant.Filled" Color="Color.Default">Save and go to Quiz Lab</MudButton>
}

<div class="my-4">
    <MudTextField T="string" Label="Name" @bind-Value="Unit.Name" Variant="Variant.Outlined" Lines="3" />
    <MudTextField T="string" Label="Topic List (Comma delimited)" @bind-Value="Unit.TopicList" Variant="Variant.Outlined" Lines="1" />
    <MudTextField T="string" Label="Content" @bind-Value="Unit.Content" Variant="Variant.Outlined" Lines="3" />
    <MudTextField T="string" Label="Summary" @bind-Value="Unit.Summary" Variant="Variant.Outlined" Lines="3" />
</div>

<div class="my-4">
    <GptSettingsComponent Settings="Unit"></GptSettingsComponent>
</div>

<div class="mt-4">
   
    <MudButton OnClick="Save" Variant="Variant.Filled" Color="Color.Primary">Save</MudButton>
    <MudButton OnClick="Back" Variant="Variant.Filled" Color="Color.Error">Back</MudButton>
    @if (UnitId.HasValue)
    {
        <MudButton OnClick="Delete" Variant="Variant.Filled" Color="Color.Error">Delete</MudButton>
    }
</div>