@inherits GptSettingsComponentBase
<h3>Quiz</h3>
<MudTextField T="string" Label="System Message" @bind-Value="Settings.QuizSystemMessage" Variant="Variant.Outlined" Lines="3" />
<MudTextField T="string" Label="Question Prompt" @bind-Value="Settings.QuizQuestionPrompt" Variant="Variant.Outlined" Lines="3" />
<MudTextField T="string" Label="Question Answer Prompt" @bind-Value="Settings.QuizAnswerPrompt" Variant="Variant.Outlined" Lines="3" />

<h3>Inquiry</h3>
<MudTextField T="string" Label="System Message" @bind-Value="Settings.InquireSystemMessage" Variant="Variant.Outlined" Lines="3" />
<MudTextField T="string" Label="Question Prompt" @bind-Value="Settings.InquirePrompt" Variant="Variant.Outlined" Lines="3" />
