@page "/EditTextbook/{textbookId:int}/EditUnit/{unitId:int}/QuizLab"
@inherits QuizLabBase


<h3>QuizLab</h3>

<GptSettingsComponent Settings="Unit"></GptSettingsComponent>

@*<MudButton OnClick="RefreshLabs">Refresh</MudButton>*@
<MudExpansionPanels MultiExpansion="true">
    @foreach (var lab in LabThreads)
    {
        var theLab = lab;
        <QuizLabThreadComponent @ref="theLab" SelectedUnit="Unit"></QuizLabThreadComponent>
    }

  

</MudExpansionPanels>