@page "/EditTextbook/{textbookId:int}/EditUnit/{unitId:int}/QuizLab"
@inherits QuizLabBase


<h3>QuizLab</h3>
<MudExpansionPanels MultiExpansion="true">
    <MudExpansionPanel Text="Unit GPT Settings">
        <GptSettingsComponent Settings="Unit"></GptSettingsComponent>
    </MudExpansionPanel>
</MudExpansionPanels>
<br /><br />

<MudButton OnClick="RefreshLabs" Variant="Variant.Filled" Color="Color.Default" >Refresh</MudButton>
<MudExpansionPanels MultiExpansion="true">
    @for (int i = 0; i < 5; i++)
    {
        <QuizLabThreadComponent @ref=LabThreadComponents SelectedUnit="Unit"></QuizLabThreadComponent>
    }



</MudExpansionPanels>